@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1>RIMSS</h1>
    <h2>Raster Image Manipulation and Storage Service</h2>
    <p class="lead">RIMSS is a service for managing original image files, allowing for the storage and retrieval of alternate copies of different sizes and formats.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">More About RIMMS &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>RIMSS Application Registry</h2>
        <p>In this context, the term "Application" does not refer to an individual web or client application which might be using this service.
        Instead, it is a term which is used to indicate what an image "applies" to.</p>
        <p>Some examples might include "Personnel" or "Products"</p>
        <ul>
            <li>
                <a href="/Applications/Index">Manage Registered Applications</a>
            </li>
            <li>
                <a href="Applications/Create">New Registered Application</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Implementation Technology Overview</h2>
        <p>
            This web application uses ASP.NET MVC, which provides a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns, with full control over markup for effective, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>NuGet libraries</h3>
        <p>This web application was built by including libraries obtained through NuGet. NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>
