@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RIMSS</h1>
    <h2>Raster Image Manipulation and Storage Service</h2>
    <p class="lead">RIMSS is a service for managing original image files, allowing for the storage and retrieval of alternate copies of different sizes and formats.</p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">More About RIMMS &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>RIMSS Applications</h2>
        <p>In this context, the term "Application" does not refer to an individual web or client application which might be using this service.
        Instead, it is a term which is used to indicate what an image "applies" to.</p>
        <p>Some examples might include "Personnel" or "Products"</p>
        <ul>
            <li>
                <a href="~/Views/Applications/Index.cshtml">Manage Applications</a>
            </li>
            <li>
                <a href="~/Views/Applications/Create.cshtml">Add Application</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
